{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Social Network{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'network/styles.css' %}" rel="stylesheet">
        {% block script %}
        {% endblock %}
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light align-items-left">
            <div class="container">
            <a class="navbar-brand" href="{% url 'index' %}">Network</a>
            <div>
              <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile' user.username %}"><strong>{{ user.username|capfirst }}</strong></a>
                    </li>
                {% endif %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'index' %}">All Posts</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'following' %}">Following</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
              </ul>
            </div>
            </div>
        </nav>
        
        <div class="body">
            {% block body %}
            {% endblock %}
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function() {

                document.querySelectorAll('.like-btn').forEach((item) => {
                    item.addEventListener('click', function(e) {
                        e.preventDefault();
                        console.log('trigger-like');
                    
                        fetch('/likes', {
                            method: 'POST',
                            body: JSON.stringify({
                                postId: this.getAttribute('data-postId')
                            })
                        })
                        .then(response => response.json())
                        .then(result => {
                            item.parentNode.querySelector(".like-count").innerHTML = result.count;
                            this.innerHTML = result.liker;
                        });
                    });
                });

                document.querySelectorAll('.edit-btn').forEach((item) => {
                    item.addEventListener('click', function(e) {
                        e.preventDefault();

                        this.parentNode.parentNode.firstElementChild.style.display = "none";

                        this.parentElement.parentElement.children[1].style.display = "block";

                        this.parentElement.previousElementSibling.querySelector(".editor").focus();

                    });
                });

                document.querySelectorAll('.editor-save').forEach((item) => {
                    item.addEventListener('click', function(e) {
                        e.preventDefault();
                        console.log(this);
                        
                        newVal = this.parentElement.parentElement.firstElementChild.value;
                    
                        fetch('/edit', {
                            method: 'POST',
                            body: JSON.stringify({
                                "content": newVal,
                                "user": this.getAttribute('data-user')
                            })
                        })
                        .then(response => response.json())
                        .then(result => {
                            console.log(result);
                        });


                        // Set the value on page
                        this.parentNode.parentNode.firstElementChild.value = newVal;

                        // Change the visibility. Something isn't working right here. Perhaps a result of the failed api call
                        this.parentElement.parentElement.children[1].style.display = "none";

                        this.parentNode.parentNode.firstElementChild.style.display = "block";
                    });
                });




                document.querySelector('#follow-btn').addEventListener('click', function(e) {
                    console.log('triggered-follow');
                    e.preventDefault();

                    fetch('/follow', {
                        method: 'POST',
                        body: JSON.stringify({
                            target: this.getAttribute('data-target')
                        })
                    })
                    .then(response => response.json())
                    .then(result => {
                        this.innerHTML = result.followText;
                    })
                });


            });
        </script>
    </body>
</html>