{% extends "network/layout.html" %}

{% block title %}
    Network: {{ profile|capfirst }}'s Profile
{% endblock %}

{% block body %}
<div class="container">
    <h2>{{ profile|capfirst }}'s Network Profile

    </h2>
    <div class="btn-group" role="group">
        {% if user.is_authenticated and user != profile %}
        <a href="#" data-target="{{ profile }}" class="btn btn-outline-info btn-sm" id="follow-btn" role="button">{{ state }}</a>
        {% endif %}        
        <button type="button" class="btn btn-outline-info btn-sm">
            Followers: <span class="badge badge-info" id="followerCount">{{ followerCount }}</span>
        </button>
        <button type="button" class="btn btn-outline-info btn-sm">
            Follows: <span class="badge badge-info" id="iFollow">{{ iFollow }}</span>
        </button>
    </div>

    <h4>{{ profile|capfirst }}'s Posts</h4>
    {% include 'network/card.html' %}
</div>
    
{% endblock %}